<!-- Application data SRM Client DevOps -->

<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3> 
  </div>

  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
     <div class="form-group">
          <label for="Clientes">Nombre de cliente</label>
          <input type="text" class="form-control"
            placeholder="Ingresar nombres del cliente" id="Clientes"
            required [(ngModel)]="nombresValue" name="nombres"
            >
          <label for="Clientes">Apellido de cliente</label>
          <input type="text" class="form-control"
            placeholder="Ingresar apellidos del cliente" id="Clientes"
            required [(ngModel)]="apellidosValue" name="apellidos"
            >
            <label for="Clientes">Edad de cliente</label>
          <input type="number" class="form-control"
            placeholder="Ingresar edad del cliente" id="Clientes"
            required [(ngModel)]="edadValue" name="edad"
            >
            <label for="Clientes">Fecha de nacimiento de cliente</label>
          <input type="date" class="form-control"
            placeholder="Ingresar fecha de nacimiento del cliente" id="Clientes"
            required [(ngModel)]="fechaNacValue" name="fechaNac"
            >
     </div>

     <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
     </div>
    </form>
  </div>
</div>

<h2>Contenido de base de datos de clientes en Firebase</h2>
<div class="col-md-3">
  <pre *ngFor="let cliente of Clientes | async">{{cliente.nombres}}</pre>
  <pre *ngFor="let cliente of Clientes | async">{{cliente.apellidos}}</pre>
  <pre *ngFor="let cliente of Clientes | async">{{cliente.edad}}</pre>
  <pre *ngFor="let cliente of Clientes | async">{{cliente.fechaNac}}</pre>
</div>